* {
  margin: 5;
  padding: 5;
}



/*homepage lineup*/

.sc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  padding-right: 95px;
  padding-top: 2.5em;
}

.link {
  font-size: 1.2em;
  padding-bottom: 30px;
  color: white;
}

.title {
  font-size: 40px;
  text-align: center;
  width: 100%;
  border: 20px;
  padding-bottom: 30px;
}


.tops{
  font-size: 28px;
  text-align: center;
  color: #ffffff;
}

.sc{
  padding-top: 2.5em;
  padding-bottom: .8em;
}

.space{
padding-top: .5em;
}

.bot{
  padding-bottom: 5.5em;
}

.PW1{
  display: block;
margin: auto;
}

.PWW{
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

.PWWH{
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

.welcome {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;
}

/*table code*/

table {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: white;
}

table td,
table th {
  border: 1px solid black;
  padding: 8px;
  background-color: white;
  color: black; 
}

table th {
  text-align: left;
  background-color: RGB(211, 211, 211);
  color: black; 
}

table tbody tr:nth-child(even) {
  background-color: RGB(211, 211, 211);
}

table tbody tr:nth-child(odd) {
  background-color: white;
}

table tbody tr:hover {
  background-color: #ddd;
}

table td:last-child {
  text-align: center;
  width: 40%;
}

table td:last-child a {
  display: block;
  margin: 8px 0;
}

table td:last-child a:visited {
  color: black;
}

table td:last-child a:hover {
  background-color: #1090e5;
  color: white;
}

table td:last-child a:active {
  background-color: #1090e5;
  color: white;
}

table td[colspan="2"] {
  text-align: center;
  font-style: italic;
  background-color: RGB(211, 211, 211);
  border-top: none;
}

table td[colspan="2"] br {
  display: none;
}

 /* Background */

 body {
  background: linear-gradient(135deg, rgba(0, 89, 255, 1) 0%, rgba(9, 187, 223, 1) 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

button {
  font-size: 24px;
  background-color: #fff;
  color: #0077c2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0077c2;
  color: #fff;
}

/*List Code*/

ol {
  counter-reset: item;
  list-style-type: decimal;
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
  max-width: 600px;
}
ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  line-height: 1.5em;
}
ol li:before {
  content: counter(item) ".";
  counter-increment: item;
  margin-right: 10px;
  text-align: right;
  width: 1.5em;
  display: inline-block;
}

