* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: lightblue;
}

.name {
  text-align: center;
}

.contacts {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0px 20%;
}
